### **Python pandas library - storing and manipulating data in "dataframes" (tables)**

<font color="red">File access required:</font> In Colab this notebook requires first uploading files **Cities.csv**, **Countries.csv**, **Players.csv**, and **Teams.csv** using the *Files* feature in the left toolbar. If running the notebook on a local computer, simply ensure these files are in the same workspace as the notebook.

In [119]:
# Set-up
import pandas as pd
import numpy as np
pd.set_option('display.min_rows', 20)

### Reading from CSV file into dataframe

In [120]:
f = open('Cities.csv')
cities = pd.read_csv(f)

f = open('Countries.csv')
countries = pd.read_csv(f)

In [121]:
cities
type(cities)

pandas.core.frame.DataFrame

In [122]:
# Number of rows
len(cities)

213

In [123]:
# First few rows
cities.head(2)

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10

In [124]:
# Last 15 rows
cities.tail(2)

          city      country  latitude  longitude  temperature
211  Zonguldak       Turkey     41.43      31.78        10.64
212     Zurich  Switzerland     47.38       8.56         6.68

### Sorting, selecting rows and columns

In [125]:
print(cities.columns)

Index(['city', 'country', 'latitude', 'longitude', 'temperature'], dtype='object')

In [126]:
# Sorting by country then descending temperature
cities.sort_values(['country','temperature'],ascending=[True,False])

           city         country  latitude  longitude  temperature
78      Elbasan         Albania     41.12      20.08        15.18
9       Andorra         Andorra     42.50       1.52         9.60
203      Vienna         Austria     48.20      16.37         7.86
95         Graz         Austria     47.08      15.41         6.91
125        Linz         Austria     48.32      14.29         6.79
175    Salzburg         Austria     47.81      13.04         4.62
105   Innsbruck         Austria     47.28      11.41         4.54
47        Brest         Belarus     52.10      23.70         6.73
161       Pinsk         Belarus     52.13      26.09         6.42
138       Mazyr         Belarus     52.05      29.27         6.25
..          ...             ...       ...        ...          ...
58    Cambridge  United Kingdom     52.20       0.12         9.25
34    Blackpool  United Kingdom     53.83      -3.05         9.15
33   Birmingham  United Kingdom     52.47      -1.92         8.81
92      Glasgow  United Kingdom     55.87      -4.25         8.60
24      Belfast  United Kingdom     54.60      -5.96         8.48
41     Bradford  United Kingdom     53.80      -1.75         8.39
1      Aberdeen  United Kingdom     57.17      -2.08         8.10
106   Inverness  United Kingdom     57.47      -4.23         8.00
76    Edinburgh  United Kingdom     55.95      -3.22         7.43
75       Dundee  United Kingdom     56.47      -3.00         6.40

[213 rows x 5 columns]

In [127]:
# Selecting a single column - you can apply NUMPY manipulation easily
type(cities.city)
# Also show cities['city'], cities['temperature'], cities.temperature
cities['city'].head()

0     Aalborg
1    Aberdeen
2      Abisko
3       Adana
4    Albacete
Name: city, dtype: object

In [128]:
# Selecting multiple columns
col_list = ['city','temperature', 'country']
subset_data = cities[col_list]
print(subset_data)

            city  temperature         country
0        Aalborg         7.52         Denmark
1       Aberdeen         8.10  United Kingdom
2         Abisko         0.20          Sweden
3          Adana        18.67          Turkey
4       Albacete        12.62           Spain
5      Algeciras        17.38           Spain
6         Amiens        10.17          France
7      Amsterdam         8.93     Netherlands
8         Ancona        13.52           Italy
9        Andorra         9.60         Andorra
..           ...          ...             ...
203       Vienna         7.86         Austria
204         Vigo        12.85           Spain
205      Vilnius         5.38       Lithuania
206       Warsaw         7.20          Poland
207      Wroclaw         7.17          Poland
208  Yevpatoriya        10.02         Ukraine
209     Zaragoza        14.17           Spain
210     Zhytomyr         6.67         Ukraine
211    Zonguldak        10.64          Turkey
212       Zurich         6.68     Switzerland

[213 rows x 3 columns]

In [129]:
# Selecting rows based on condition
# Note: no need to do type conversion - pandas infers types for columns
filter_cond = cities.longitude < 0
cities[filter_cond]
len(cities[filter_cond])

38

In [130]:
# Selecting rows by number
row_subset = cities[15:20] # n- 1
cols = ['city', 'country']

row_subset = row_subset[cols]
print(row_subset)
# Show cities[:8] and cities[200:]
# cities[:8] # start at 0, end at n - 1
cities[200:] # start at 200, end at THE END

         city  country
15   Augsburg  Germany
16      Bacau  Romania
17    Badajoz    Spain
18  Baia Mare  Romania
19      Balti  Moldova

            city      country  latitude  longitude  temperature
200        Turku      Finland     60.45      22.25         4.72
201      Uppsala       Sweden     59.86      17.64         4.17
202     Valencia        Spain     39.49      -0.40        16.02
203       Vienna      Austria     48.20      16.37         7.86
204         Vigo        Spain     42.22      -8.73        12.85
205      Vilnius    Lithuania     54.68      25.32         5.38
206       Warsaw       Poland     52.25      21.00         7.20
207      Wroclaw       Poland     51.11      17.03         7.17
208  Yevpatoriya      Ukraine     45.20      33.36        10.02
209     Zaragoza        Spain     41.65      -0.89        14.17
210     Zhytomyr      Ukraine     50.25      28.66         6.67
211    Zonguldak       Turkey     41.43      31.78        10.64
212       Zurich  Switzerland     47.38       8.56         6.68

In [131]:
# Putting it together: selecting rows, selecting columns, sorting
# City and longitude of all cities with latitude > 50 and
# temperature > 9, sorted by longitude
temp1 = cities[ (cities.latitude > 50) & (cities.temperature > 9) ] # 'and' - true or false. all values that satisfied the cond.

temp2 = temp1[['city','longitude']]  # subset columns

temp3 = temp2.sort_values('longitude') # sort based on longitude

print(temp3)

temp1 = cities[(cities.latitude > 50) & (cities.temperature > 9)][['city','longitude']].sort_values('longitude')
print('--')
print(temp1)
# Show eliminating temp3, then temp2, then temp1 (use \ for long lines)
# Note similar functionality to SQL

            city  longitude
88        Galway      -9.05
67          Cork      -8.50
188      Swansea      -3.95
84        Exeter      -3.53
34     Blackpool      -3.05
40   Bournemouth      -1.90
58     Cambridge       0.12
123        Lille       3.08
49        Brugge       3.23
--
            city  longitude
88        Galway      -9.05
67          Cork      -8.50
188      Swansea      -3.95
84        Exeter      -3.53
34     Blackpool      -3.05
40   Bournemouth      -1.90
58     Cambridge       0.12
123        Lille       3.08
49        Brugge       3.23

### <font color="green">**Your Turn**</font>

In [132]:
# Read the Countries.csv file into a dataframe
f = open('Countries.csv')
countries = pd.read_csv(f)
countries.head()

   country  population   EU coastline
0  Albania        2.90   no       yes
1  Andorra        0.07   no        no
2  Austria        8.57  yes        no
3  Belarus        9.48   no        no
4  Belgium       11.37  yes       yes

In [133]:
# Find all countries that are not in the EU and don't
# have coastline, together with their populations,
# sorted by population (smallest to largest)
cond_filter = (countries.EU == 'no') & (countries.coastline == 'no')
print(countries[cond_filter].sort_values('population'))

          country  population  EU coastline
22  Liechtenstein        0.04  no        no
1         Andorra        0.07  no        no
20         Kosovo        1.91  no        no
25      Macedonia        2.08  no        no
26        Moldova        4.06  no        no
38    Switzerland        8.38  no        no
33         Serbia        8.81  no        no
3         Belarus        9.48  no        no

### Aggregation

In [134]:
# Minimum and maximum temperature
print('Minimum temperature:', min(cities.temperature))
print('Maximum temperature:', max(cities.temperature))

Minimum temperature: -2.2
Maximum temperature: 18.67

In [135]:
# Average temperature
print('Using numpy average:', np.average(cities.temperature))
print('Using built-in mean:', cities.temperature.mean())

Using numpy average: 9.497840375586854
Using built-in mean: 9.497840375586854

In [136]:
# Average temperature of cities in each country
cities.groupby('country').temperature.mean()

country
Albania                   15.180000
Andorra                    9.600000
Austria                    6.144000
Belarus                    5.946667
Belgium                    9.650000
Bosnia and Herzegovina     9.600000
Bulgaria                  10.440000
Croatia                   10.865000
Czech Republic             7.856667
Denmark                    7.625000
Estonia                    4.590000
Finland                    3.487500
France                    10.151111
Germany                    7.869286
Greece                    16.902500
Hungary                    9.602500
Ireland                    9.300000
Italy                     13.474667
Latvia                     5.270000
Lithuania                  6.143333
Macedonia                  9.360000
Moldova                    8.415000
Montenegro                 9.990000
Netherlands                8.756667
Norway                     3.726000
Poland                     7.250000
Portugal                  14.470000
Romania                    9.224444
Serbia                     9.850000
Slovakia                   8.480000
Slovenia                   9.270000
Spain                     14.238333
Sweden                     3.586667
Switzerland                7.253333
Turkey                    11.726667
Ukraine                    7.420000
United Kingdom             8.650000
Name: temperature, dtype: float64

### <font color="green">**Your Turn**</font>

In [137]:
# Find the average population of countries with coastline
# and countries without coastline
# Hint: You can use groupby!
print(countries.groupby('coastline')['population'].mean())

coastline
no      5.367692
yes    20.947931
Name: population, dtype: float64

In [138]:
# Then modify to group by both coastline and EU
print(countries.groupby(['coastline', 'EU'])['population'].mean())

coastline  EU
no         no      4.353750
           yes     6.990000
yes        no     19.595714
           yes    21.378182
Name: population, dtype: float64

### Joining

In [139]:
print(cities.columns)
print(countries.columns)

Index(['city', 'country', 'latitude', 'longitude', 'temperature'], dtype='object')
Index(['country', 'population', 'EU', 'coastline'], dtype='object')

In [140]:
cities.merge(countries, on='country')

,city,country,latitude,longitude,temperature,population,EU,coastline
0,Aalborg,Denmark,57.03,9.92,7.52,5.69,yes,yes
1,Aberdeen,United Kingdom,57.17,-2.08,8.10,65.11,yes,yes
2,Abisko,Sweden,63.35,18.83,0.20,9.85,yes,yes
3,Adana,Turkey,36.99,35.32,18.67,79.62,no,yes
4,Albacete,Spain,39.00,-1.87,12.62,46.06,yes,yes
5,Algeciras,Spain,36.13,-5.47,17.38,46.06,yes,yes
6,Amiens,France,49.90,2.30,10.17,64.67,yes,yes
7,Amsterdam,Netherlands,52.35,4.92,8.93,16.98,yes,yes
8,Ancona,Italy,43.60,13.50,13.52,59.80,yes,yes
9,Andorra,Andorra,42.50,1.52,9.60,0.07,no,no
...,...,...,...,...,...,...,...,...
203,Vienna,Austria,48.20,16.37,7.86,8.57,yes,no
204,Vigo,Spain,42.22,-8.73,12.85,46.06,yes,yes
205,Vilnius,Lithuania,54.68,25.32,5.38,2.85,yes,yes
206,Warsaw,Poland,52.25,21.00,7.20,38.59,yes,yes
207,Wroclaw,Poland,51.11,17.03,7.17,38.59,yes,yes
208,Yevpatoriya,Ukraine,45.20,33.36,10.02,44.62,no,yes
209,Zaragoza,Spain,41.65,-0.89,14.17,46.06,yes,yes
210,Zhytomyr,Ukraine,50.25,28.66,6.67,44.62,no,yes
211,Zonguldak,Turkey,41.43,31.78,10.64,79.62,no,yes
212,Zurich,Switzerland,47.38,8.56,6.68,8.38,no,no

In [141]:
# Joining is symmetric
countries.merge(cities, on='country')

,country,population,EU,coastline,city,latitude,longitude,temperature
0,Albania,2.90,no,yes,Elbasan,41.12,20.08,15.18
1,Andorra,0.07,no,no,Andorra,42.50,1.52,9.60
2,Austria,8.57,yes,no,Graz,47.08,15.41,6.91
3,Austria,8.57,yes,no,Innsbruck,47.28,11.41,4.54
4,Austria,8.57,yes,no,Linz,48.32,14.29,6.79
5,Austria,8.57,yes,no,Salzburg,47.81,13.04,4.62
6,Austria,8.57,yes,no,Vienna,48.20,16.37,7.86
7,Belarus,9.48,no,no,Brest,52.10,23.70,6.73
8,Belarus,9.48,no,no,Hrodna,53.68,23.83,6.07
9,Belarus,9.48,no,no,Mazyr,52.05,29.27,6.25
...,...,...,...,...,...,...,...,...
203,United Kingdom,65.11,yes,yes,Blackpool,53.83,-3.05,9.15
204,United Kingdom,65.11,yes,yes,Bournemouth,50.73,-1.90,9.97
205,United Kingdom,65.11,yes,yes,Bradford,53.80,-1.75,8.39
206,United Kingdom,65.11,yes,yes,Cambridge,52.20,0.12,9.25
207,United Kingdom,65.11,yes,yes,Dundee,56.47,-3.00,6.40
208,United Kingdom,65.11,yes,yes,Edinburgh,55.95,-3.22,7.43
209,United Kingdom,65.11,yes,yes,Exeter,50.70,-3.53,10.14
210,United Kingdom,65.11,yes,yes,Glasgow,55.87,-4.25,8.60
211,United Kingdom,65.11,yes,yes,Inverness,57.47,-4.23,8.00
212,United Kingdom,65.11,yes,yes,Swansea,51.63,-3.95,9.73

### Miscellaneous features

In [142]:
# String operations - countries with 'ia' in their name
cond_filter = countries.country.str.contains('ia') # -- row level function application
countries[cond_filter]

                   country  population   EU coastline
0                  Albania        2.90   no       yes
2                  Austria        8.57  yes        no
5   Bosnia and Herzegovina        3.80   no       yes
6                 Bulgaria        7.10  yes       yes
7                  Croatia        4.23  yes       yes
11                 Estonia        1.31  yes       yes
21                  Latvia        1.96  yes       yes
23               Lithuania        2.85  yes       yes
25               Macedonia        2.08   no        no
32                 Romania       19.37  yes       yes
33                  Serbia        8.81   no        no
34                Slovakia        5.43  yes        no
35                Slovenia        2.07  yes       yes

In [143]:
# Add fahrenheit column
print(cities.columns)
cities['fahrenheit'] = (cities.temperature * 9/5) + 32
cities

Index(['city', 'country', 'latitude', 'longitude', 'temperature'], dtype='object')

            city         country  latitude  longitude  temperature  fahrenheit
0        Aalborg         Denmark     57.03       9.92         7.52      45.536
1       Aberdeen  United Kingdom     57.17      -2.08         8.10      46.580
2         Abisko          Sweden     63.35      18.83         0.20      32.360
3          Adana          Turkey     36.99      35.32        18.67      65.606
4       Albacete           Spain     39.00      -1.87        12.62      54.716
5      Algeciras           Spain     36.13      -5.47        17.38      63.284
6         Amiens          France     49.90       2.30        10.17      50.306
7      Amsterdam     Netherlands     52.35       4.92         8.93      48.074
8         Ancona           Italy     43.60      13.50        13.52      56.336
9        Andorra         Andorra     42.50       1.52         9.60      49.280
..           ...             ...       ...        ...          ...         ...
203       Vienna         Austria     48.20      16.37         7.86      46.148
204         Vigo           Spain     42.22      -8.73        12.85      55.130
205      Vilnius       Lithuania     54.68      25.32         5.38      41.684
206       Warsaw          Poland     52.25      21.00         7.20      44.960
207      Wroclaw          Poland     51.11      17.03         7.17      44.906
208  Yevpatoriya         Ukraine     45.20      33.36        10.02      50.036
209     Zaragoza           Spain     41.65      -0.89        14.17      57.506
210     Zhytomyr         Ukraine     50.25      28.66         6.67      44.006
211    Zonguldak          Turkey     41.43      31.78        10.64      51.152
212       Zurich     Switzerland     47.38       8.56         6.68      44.024

[213 rows x 6 columns]

In [144]:
# Sometimes temporary dataframe is needed
# Cities with latitude > 50 not in the EU (error then fix)
temp = cities.merge(countries, on='country')[(cities.latitude > 50) & (countries.EU == 'no')]
print(temp)

           city         country  latitude  longitude  temperature  fahrenheit  \
0       Aalborg         Denmark     57.03       9.92         7.52      45.536
1      Aberdeen  United Kingdom     57.17      -2.08         8.10      46.580
27       Bergen          Norway     60.39       5.32         1.75      35.150
29    Bialystok          Poland     53.15      23.17         6.07      42.926
33   Birmingham  United Kingdom     52.47      -1.92         8.81      47.858
40  Bournemouth  United Kingdom     50.73      -1.90         9.97      49.946

    population   EU coastline
0         5.69  yes       yes
1        65.11  yes       yes
27        5.27   no       yes
29       38.59  yes       yes
33       65.11  yes       yes
40       65.11  yes       yes

In [145]:
# Notebook only displays result of last line
# Before last line need to use print
cities[cities.longitude > 35]
cities[cities.longitude < -5]

          city         country  latitude  longitude  temperature  fahrenheit
5    Algeciras           Spain     36.13      -5.47        17.38      63.284
17     Badajoz           Spain     38.88      -6.97        15.61      60.098
24     Belfast  United Kingdom     54.60      -5.96         8.48      47.264
42       Braga        Portugal     41.55      -8.42        13.42      56.156
67        Cork         Ireland     51.90      -8.50         9.41      48.938
74      Dublin         Ireland     53.33      -6.25         8.49      47.282
88      Galway         Ireland     53.27      -9.05        10.00      50.000
103     Huelva           Spain     37.25      -6.93        17.09      62.762
126     Lisbon        Portugal     38.72      -9.14        15.52      59.936
155     Oviedo           Spain     43.35      -5.83        10.85      51.530
174  Salamanca           Spain     40.97      -5.67        11.63      52.934
204       Vigo           Spain     42.22      -8.73        12.85      55.130

### <font color="green">**Your Turn**</font>

In [146]:
# The countries dataset was created before "Brexit", so the data has
# EU = 'yes' for the United Kingdom.
# Determine how the average temperature for EU cities and the average
# temperature for non-EU cities changed after Brexit.
# For the pre-Brexit averages, use the EU and non-EU countries in the data,
# and for the post-Brexit averages treat the United Kingdom as not in the EU.
#
# Your output can look something like this:
#   EU before Brexit: [average temperature here]
#   Non-EU before Brexit: [average temperature here]
#   EU after Brexit: [average temperature here]
#   Non-EU after Brexit: [average temperature here]
#
# Hint: You can solve this one using straightforward constructs in just five
# lines by creating a joined dataframe, then averaging the temperatures for
# four different sets of conditions on the dataframe; no need for groupby.
# Hint: For the 'or' of two conditions in pandas, use '|' instead of '&'
#
# An alternative solution that modifies the data in place only requires four
# lines (including groupby), but it uses constructs that haven't been covered.
#

joined = pd.merge(cities, countries, on='country')

print('EU before Brexit:', joined[joined['EU'] == 'yes']['temperature'].mean())
print('Non-EU before Brexit:', joined[joined['EU'] == 'no']['temperature'].mean())
print('EU after Brexit:', joined[(joined['EU'] == 'yes') & (joined['country'] != 'United Kingdom')]['temperature'].mean())
print('Non-EU after Brexit:', joined[(joined['EU'] == 'no') | (joined['country'] == 'United Kingdom')]['temperature'].mean())

EU before Brexit: 9.694133333333333
Non-EU before Brexit: 9.030476190476188
EU after Brexit: 9.793211678832117
Non-EU after Brexit: 8.965394736842102